.learn-more {
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: rgba(31, 49, 110, 0.466); /* Button color */
    border: 2px solid #ebecf1;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}