.navbar {
  padding: 10px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-logo {
  height: 50px;
  margin-right: 20px;
  position: absolute;
  left: 20px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-links li {
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(28, 33, 138);
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .nav-links {
    gap: 15px;
  }

  .nav-links li {
    padding: 8px;
    font-size: 14px;
  }

  .nav-logo {
    height: 40px;
    left: 10px;
  }
}

@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links li {
    text-align: center;
    padding: 5px 5px;
    font-size: 15px; /* Smaller font for mobile */
  }

  .nav-logo {
    height: 30px; /* Further reduce logo size on mobile */
    left: 10px;
  }
}

.nav-links-li {
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(28, 33, 138);
  cursor: pointer;
  text-decoration: none;
}
