.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #0c0d41;
    color: white;
    padding: 40px 20px;
    gap: 50px;
    flex-wrap: wrap;
    height: auto;
    position: relative;
    text-align: center;
}

.footer-column {
    padding: 0 10px;
    /* flex: 1 1 30px; */
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-hr {
    width: 80%;
    border: 0;
    border-radius: 50px;
    border-top: 3px solid #f4f4f4;
    margin: 20px 0;
}

.footer-bottom-text {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.final-div {
    background-color: #0c0d41;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
    padding: 20px;
    background-color: #f1f1f1; /* Example background color */
}

.footer-item {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Responsive for tablets and smaller devices */
@media (max-width: 768px) {
    .footer-container {
        padding: 30px 15px;
        gap: 30px;
    }
    .footer-column h3 {
        font-size: 16px;
    }
    .footer-bottom-text {
        font-size: 12px;
    }
    .footer {
        flex-direction: column;
        gap: 10px;
    }
}

/* Responsive for mobile devices */
@media (max-width: 480px) {
    .footer-column h3 {
        font-size: 14px;
    }
    .footer-column ul li {
        margin-bottom: 6px;
    }
    .footer-bottom-text {
        font-size: 10px;
    }
    .final-div {
        margin-top: -30px;
    }
}
